@import "~bootstrap/scss/bootstrap";

$background-color: white;
$foreground-color: #8A8FF7;
$midground-color: #E3DEF9;
$navbar-color: white;
$font-color: black;
$decision-background-color: #301C42;
$decision-font-color: white;
$corner-radius: 3px;

$navbar-font-color: black;
$font: 'Roboto', sans-serif;

.btn-decision {
    background-color: $decision-background-color;
    color: $decision-font-color;
    white-space: normal;
}

body {
    background-color: $background-color;
    font-family: $font;
}

.foreground {
    background-color: $foreground-color;
    min-height: calc(100vh - 20px);
}

.column-header h2 {
    text-align: center;
    padding-top: 5px;
    background-color: $foreground-color;
    font-size: 25px;
    font-weight: 300;
    border-top-left-radius: $corner-radius;
    border-top-right-radius: $corner-radius;
    padding-bottom: 5px;

}

.impact-map {
    padding-top: 10px;
}

.card-column {
    border-radius: 5px;
    background-color: $midground-color;
    min-height: calc(100vh - 45px);
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
    min-height: calc(100vh - 160px);
}

.cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-grow: 1;
}

.card {
    border-radius: $corner-radius;
    background-color: $foreground-color;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.card p {
    margin:10px;
}

.column-button {
    margin-top: 5px;
}

#svgContainer { 
	z-index: 1;
	position:absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

#svg {
    height: 100%;
    width: 100%;
    pointer-events: none;
}

path {
    stroke: $foreground-color;
    stroke-width: 5px;
    opacity: 50%;
    fill: none;
}

button {
    cursor: pointer;
}

//Homepage
@include media-breakpoint-up(md) {
    .title {
        margin-top: 200px;
    }
  }

.title-blurb img {
    margin-top: 50px;
}

.title-blurb h1 {
    font-size: 80px;
}

.title-blurb h1 strong{
    color:black;
}

.product-headline {
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    text-align: left;
}

.product-image > div > img {
    max-width: 100%;
    max-height: 100%;
}

.first-headline {
    margin-top: 150px;
}

nav {
    background-color: $navbar-color;
    margin-bottom:20px;
    color: $navbar-font-color;
    border-bottom: solid grey 1px;
}

nav button {
    border: none !important;
}

@include media-breakpoint-up(sm) {
    .title-blurb h1 {
        font-size: 80px;
    }
}

.title-blurb h1 {
    font-size: 70px;
}

.triangle {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-bottom-width: 11px;
    border-top-width: 11px;
    border-left: 19px solid #8A8FF7;
    margin-bottom:10px;
}

.column-container {
    overflow-x: scroll;
}