<div *ngIf="column.items.length != 0 && column.previousColumn == undefined" class="card-column">
    <div class="row card">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-block">
                        <h3>{{ column.items[0].heading }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="column.previousColumn != undefined" class="card-column">
    <div *ngFor="let cardGroup of column.previousColumn.items" class="cards">
        <div *ngFor="let card of groupCards(cardGroup)" class="row">
            <div class="col">
                <div class="card">
                    <div class="card-block">
                        <h3 class="card-title">{{ card.heading }}</h3>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row column-button">
            <div class="col d-flex flex-row justify-content-center">
                <div class="mx-auto">
                    <button class="btn btn-success" (click)="add(cardGroup)"><i class="fa fa-plus" aria-hidden="true"></i> Add a {{labelText(cardGroup) | lowercase}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
