<div *ngIf="items.length != 0" class="card-column">
    <div *ngFor="let card of items" class="card">
        <div class="row">
            <div class="col-9">
                <p>{{ card.heading }}</p>
            </div>
            <div class="col-3">                    
                <button *ngIf="deleteable"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="row column-button">
    <div class="col d-flex flex-row justify-content-center">
        <div class="mx-auto">
            <button class="btn btn-success" (click)="add()"><i class="fa fa-plus" aria-hidden="true"></i> Add a {{name | lowercase}}</button>
        </div>
    </div>
</div>